footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 2.5em;
  background-color: $darkBlack;
  box-shadow: 0 0 10px black;

  .footer-box {
    color: darken($white, 40);
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;

    @media screen and (max-width: $skinny) {
      width: 90vw;
      margin-left: 5vw;
    }

    p {
      float: left;
      align-content: center;
      padding: 0.7em 10px 0 0.7em;
    }

    img {
      max-height: 2em;
      margin: 0.2em 0 0 0;
    }

    a {
      text-decoration: none;
      color: inherit;

      &:hover {
        text-decoration: none;
      }
      &:active {
        text-decoration: none;
      }
    }
  }
}
