.bg {
  color: #fff;
}
.main {
  margin-top: 0;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transform: scale(.5);
}
.blur-hidden {
  visibility: hidden;
  opacity: 0;
}

/* NewEvent */
.blur-box {
  position: absolute;
  top: 4.5em;
  left: 0;
  width: 105vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  background: rgba(75, 75, 75, 0.473);
  transition: all .3s ease-in-out;
}
.event {
  position: absolute;
  z-index: 2;
  top: 10em;
  left: 24.5vw;
  width: 56vw;
  height: 25em;
  padding: 2em;
  background-color: #244e78;
  transition: all .3s ease-in-out;
  @media screen and (max-width: 1000px) {
    width: 90vw;
    top: 5em;
    left: 6vw;
  }
}

/* Calendar */
.my-cal {
  margin: 8em auto;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 1000px) {
    margin: 6em auto;
  }
}
.react-calendar {
  @media screen and (max-width: 1000px) {
    width: 95vw;
    margin: 0 0 0 -2.5vw;
  }
  width: 50vw;
  margin: 0 0 0 -2.5vw;
  border: none;
  background: #3f3b3b;
  &__navigation > button {
    background: #3f3b3b;
    &:enabled:hover {
      background: #4a4848;
    }
    &:enabled:focus {
      background-color: #3f3b3b;
    }
  }
  &__tile {
    padding: 3em .5em;
    @media screen and (max-width: 1000px) {
      padding: 2em .5em;
    }
    &--active {
      background-color: #244e78;
    }
  }
}
button.react-calendar {
  &__tile {
    &:enabled {
      &:hover {
        background-color: #535353 !important;
      }
    }
    &--active {
      &:enabled:hover {
          background-color: #535353;
      }
      &:enabled:focus {
        background-color: #20466c;
      }
    }
  }
}