
.container-fluid {
    margin-top: 8em;
    background-color: $darkBlack;
    border-radius: 10px;
    box-shadow: 0 0 25px black;
    $container-width: 75vw;
    width: $container-width;
    padding: 3em;
    @media screen and (max-width: $skinny) {
        width: 90vw;
        padding: 2em $container-width*.1 2em $container-width*.1;
        margin-top: 6em;
        
    }
    @media screen and (max-width: $med) {
        width: 90vw;
    }

    .image-col {
        max-width: 30em;
        padding: 2em 4em 2em 2em;

        @media screen and (max-width: $skinny) {
            min-width: 15em;
            border-bottom: 1px solid $red;
            border-right: none;
            padding: 0 2em 2em 2em;
            margin: 0 auto;
        }

        @media screen and (max-width: $med) {
            // min-width: 17em;
            max-width: 17em;
        }

        border-right: 5px double $red;

        #ecs-image {
            width: inherit;
        }
    }

    .text-col {
        width: 50vw;
        padding: 6.5em 2em 2em 2em;
        text-align: center;
        color: $logoColor;

        @media screen and (max-width: $skinny) {
            padding: 0;
        }

        @media screen and (max-width: $med) {
            padding: 2em 0 0 0;
        }

        h1 {
            font-size: 1.7em;
            font-weight: bold;
            padding-bottom: 1em;
            font-family: "Raleway";

            @media screen and (max-width: $med) {
                font-size: 1.3em;
            }
        }

        p {
            font-size: 1.5em;
            line-height: 1.5em;
            padding: 0 4em 0 4em;

            @media screen and (max-width: $med) {
                font-size: 1.2em;
                padding: 0 1em 0 1em;
            }

            @media screen and (max-width: $skinny) {
                font-size: 0.9em;
            }
        }

        .red-text {
            color: $red;
        }
    }

}

.buttons-row {
    margin-top: 1em;
    margin-bottom: 5em;
    width: 100%;
    padding: 0 1em 0 1em;
    // border: 1px solid $white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; // left to right
    align-items: center; // top to bottom

    @media screen and (min-width: $med) {

        :nth-child(1) {
            margin-right: 1em;
        }

        :nth-child(2) {
            margin-left: 1em;
        }
    }

    a {
        font-size: 1.5em;
        text-transform: uppercase;
        color: $logoColor !important;
        border-radius: 5px;
        box-shadow: 0 3px 10px black;
        margin-top: 1em;
        padding: 1em;
        text-align: center;
        width: 20em;

        @media screen and (max-width: $skinny) {
            font-size: 1em;
        }

        &:active {
            box-shadow: none;
        }

    }
}
